<% provide(:title, "About") %>
<h1>Sample App About Page</h1>
<p>
  This is the about page for the sample app.
  <a href="http://www.tvservices.ie/book-now.php">TV Services About Page</a><br>
  Links to tv services web about page.
</p>
    
  
