<!-- This is a partial file to  support the header in the application.html.erb -->
<header class="navbar navbar-fixed-top navbar-inverse" id="header">
      <!-- Insert division into our header -->
      <div class="container">
       <!--Use embedded ruby instead of an anchor tag as it allows for
       the use of named routes -->
       <%= link_to "Punters Club", root_path, id: "logo" %>
       <nav>
         <ul class="nav navbar-nav navbar-right">
          <!-- li link to something -->
           <li><%= link_to "Home",   root_path %></li>
           <li><%= link_to "Help",   help_path %></li>
           <li><%= link_to "Log in", signup_path %></li>
       </nav>
      </div>
</header>